ion-toolbar{
  /*
  --background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(230,81,0,1) 54%);
  */

  --background: #21ada1;
  --color: white !important;
  font-family: 'Roboto';
	text-align: center;
}
.contenedor-buscar{
  width: 60%;
  margin-left: 20%;
  margin-top: 1%;
  background: #c6efeb;
  border-radius: 9px;
}
.contenedor-imagen{
  background: #21ada1;
	margin-bottom: 5%;
}

.imagen-usuarios{
  width: 20%;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.barra-buscar{
  background: white;
  width: 15%;
  margin-left: 2%;
  border-radius: 9px;
  color: #252526;
  display: flex
}
.contenedor-card{
  --background: #3949ab;
  --color: white !important;
		margin-right: 5%;
}

.imagen-card{
  width: 50px;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}

ion-item{/*
  --background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(230,81,0,1) 54%);
  */
  --background-focused:#f5f5f5;
  --background-hover:#f5f5f5;
  font-family: 'Roboto';
}

ion-content {
  --background: white;
  /*
  --color:white!important;
  --background: rgb(2,0,36);
  --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,68,121,0.5648148148148149) 0%, rgba(35,0,255,0.6643518518518519) 100%);
  */
}

ion-card{
  --background: white;
}

.header-card{
  --background: linear-gradient(90deg, rgba(3,169,244,1) 0%, rgba(128,222,234,1) 100%);
  ion-item{
  --background: transparent;
  --color: white;
  --border-color: transparent;
  }
}

.card-gradiente{
  --background: linear-gradient(90deg, rgba(3,169,244,1) 0%, rgba(128,222,234,1) 100%) !important;
  --color: white !important;
}

ion-fab-button{
  --background: #20d1c2;
  --background-activated: #20d1c2;
  --background-hover: #20d1c2;
  --color: white;
}

ion-button{
  --background: #20d1c2 !important;
  --background-activated: #20d1c2 !important;
  --background-hover:  #20d1c2 !important;
  width: 60% !important;
  margin-left: 20% !important;
}
@media (max-width: 900px){
  contenedor-buscar{
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    background: #c6efeb;
    border-radius: 9px;
  }
}
