ion-toolbar{
  /*
  --background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(230,81,0,1) 54%);
  */

  --background: #7A9FCC;
  --color: white !important;
  font-family: 'Roboto';
  text-align: center;

  ion-item{
    --background: transparent;
    --border-color: transparent;
    color: white;
    width: 100%;
    height: 10%;
  }

  .badge-canje{
    background: transparent;
    width: 40px;

    .imagen-canjes
    {

    }
  }

}

.contenedor-imagen{
  background: #7A9FCC;
}

.contenedor-estadisticas{
  width: 100%;
  display: flex;
}

.imagen-home{
  width: 20%;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.imagen-card{
  width: 50px;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.contenedor-azul{
  background: #1F3E7D
;
}

.card-azul{
  --background: #1F3E7D
;
  --color: white !important;
  border-radius: 30px;
}

.contenedor-naranjo{
  background: #1F3E7D
;
}

.card-naranjo{
  --background: #1F3E7D
;
  --color: white !important;
  border-radius: 30px;
}

.contenedor-celeste{
  background: #1F3E7D
;
}

.card-celeste{
  --background: #1F3E7D
;
  --color: white !important;
  border-radius: 30px;
}

.contenedor-card{
  --background: #3949ab;
  --color: white !important;
}

.imagen-perfil{
  width: 20%;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contenedor-card{
  --background: #ff5252;
  --color: white !important;
}

.imagen-card{
  width: 50px;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.ion-title{
  text-align: center;
  margin-top: 3.5%;
  font-size: 24px;
}

ion-item{/*
  --background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(230,81,0,1) 54%);
  */
  --background-focused:#f5f5f5;
  --background-hover:#f5f5f5;
}

ion-content {
  --background: white;
  /*
  --color:white!important;
  --background: rgb(2,0,36);
  --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,68,121,0.5648148148148149) 0%, rgba(35,0,255,0.6643518518518519) 100%);
  */
}

ion-card{
  --background: white;
}

.header-card{
  --background: linear-gradient(90deg, rgba(3,169,244,1) 0%, rgba(128,222,234,1) 100%);
  ion-item{
  --background: transparent;
  --color: white;
  --border-color: transparent;
  }
}

.card-gradiente{
  --background: linear-gradient(90deg, rgba(3,169,244,1) 0%, rgba(128,222,234,1) 100%) !important;
  --color: white !important;
}

ion-fab{
  --background: rgba(128,222,234,1);
}

.contenedor-datos{
  background:#ff5252;
  height:9%;
  width:100%;
  display:flex;
}

.nombre-perfil{
  height:100%;
  width:35%;
}

.cupones-perfil{
  height:100%;
  width:35%;
  display:flex;
}

.texto-perfil{
  color:white;
  align-text: center;
  margin-top:3.5%;
  margin-left:8%;
  font-size:20px;
}

@media (max-width: 900px) {
  .contenedor-datos{

  }

  .nombre-perfil{
    width: 100% !important;
  }

  .cupones-perfil{
    width: 100% !important;
  }
}
