<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Jerarquia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="contenedor-imagen">
    <img class="imagen-drag" src="https://image.flaticon.com/icons/png/512/544/544533.png">
  </div>

  <div class="probando">
    <div class='title'>

        <lib-ngx-tree-component
        [treeData]="myTree"
        (ondragstart)="onDragStart($event)"
        (ondragenter)="onDragEnter($event)"
        (ondragleave)="onDragLeave($event)"
        (ondrop)="onDrop($event)"
        (onallowdrop)="onAllowDrop($event)"
        (onadditem)="onAddItem($event)"
        (onStartDeleteItem)="onStartDeleteItem($event)"
        (onFinishDeleteItem)="onFinishDeleteItem($event)"
        (onCancelDeleteItem)="onCancelDeleteItem($event)"
        (onStartRenameItem)="onStartRenameItem($event)"
        (onFinishRenameItem)="onFinishRenameItem($event)"
        [config]='config'>
        </lib-ngx-tree-component>
        <!-- =================================== -->
        <div class='event' >Event: <span>{{currentEvent}}</span>
      </div>
    </div>

  </div>

  <ion-button  size="medium" (click)="saveTree();cargando()">Guardar</ion-button>
<!--
  <ion-button expand="full" color="danger" fill="outline" (click)="disableAll()">Deshabilitar Funciones</ion-button>


  <ion-segment  color="secondary">
    <ion-segment-button value="{{nodo.name}}" *ngFor="let nodo of myTree;index as index" (click)="seleccionaNodo(nodo,indice)" (dblclick)="navegaNodo(nodo,index)">
      <ion-label>{{nodo.name}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <h3 style="text-align:center">{{mensaje}}</h3>  -->
</ion-content>
