ion-toolbar{
  /*
  --background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(230,81,0,1) 54%);
  */

  --background: #7a9fcc;
  --color: white !important;
  font-family: 'Roboto';
  text-align: center;
}

.contenedor-imagen{
  background: #7a9fcc;
	margin-bottom: 5%;
}

.imagen-evaluaciones{
  width: 20%;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contenedor-card{
  --background: #3949ab;
  --color: white !important;
		margin-right: 5%;
}

.imagen-card{
  width: 50px;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}

ion-item{/*
  --background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(230,81,0,1) 54%);
  */
  --background-focused:#f5f5f5;
  --background-hover:#f5f5f5;
}

ion-content {
  --background: white;
  /*
  --color:white!important;
  --background: rgb(2,0,36);
  --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,68,121,0.5648148148148149) 0%, rgba(35,0,255,0.6643518518518519) 100%);
  */
}

ion-card{
  --background: white;
}

ion-fab-button{
  --background: #7a9fcc !important;
  --background-activated: #7a9fcc !important;
  --background-hover: #7a9fcc !important;
  --color: white;
}

@media (min-width: 900px) {

  ion-header{
    display: none;
  }
}
