<ion-button size="large" (click)="tipo1 = true; tipo2=false"  expand="block">Tipo 1</ion-button>
<ion-button size="large"  (click)="tipo1 = false; tipo2=false"  expand="block">Tipo 2</ion-button>
<ion-button size="large"  (click)="tipo2 = true; tipo1=null"  expand="block">Tipo 3</ion-button>

<ion-content class="ion-padding" *ngIf="tipo1 == true && tipo2 == false">
  <div class="contenedor-imagen">
    <img class="imagen-candado" src="assets/icon/hombre.png">
  </div>
  <form class="login-form" #form="ngForm" (ngSubmit)="login(form)" autocomplete="off">
    <p class="login-text">
    </p>
    <input type="email" ngModel name="email" class="login-username" autofocus="true" required="true" placeholder="Email" autocomplete="off" />
    <input type="password" ngModel name="password" class="login-password" required="true" placeholder="Clave" autocomplete="off" />
    <input type="submit" [disabled]="form.invalid"  name="Login" value="Iniciar Sesión" class="login-submit" />
  </form>

  <a href="#" class="login-forgot-pass">¿No recuerdas tu contraseña?</a>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div>
  <!--
  <form #form="ngForm" (ngSubmit)="login(form)" autocomplete="off">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <h3>Login</h3>
          </div>
          <div  class="ion-padding">
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div  class="ion-padding">
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
         <div class="ion-text-center">
           Si no posees una cuenta puedes crear una en  <a routerLink='/registro'>registrate</a>
         </div>
     </ion-row>
    </ion-grid>
  </form>
-->
</ion-content>

<ion-content class="ion-padding" *ngIf="!tipo1 == true && tipo2 == false">

  <ion-title>Ifort Chile</ion-title>

  <div class="contenedor-inputs">
    <form style="margin-top:10%;" class="login-form" #form="ngForm" (ngSubmit)="login(form)" autocomplete="off">
      <p class="login-text">
      </p>
        <ion-item>
          <ion-label position="stacked"></ion-label>
          <ion-input type="email" ngModel name="email" autofocus="true" required="true" placeholder="Email" autocomplete="off"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked"></ion-label>
          <ion-input type="password" ngModel name="password" required="true" placeholder="Clave" autocomplete="off" ></ion-input>
        </ion-item>

        <ion-button class="boton-login" expand="block" color="light" type="submit" [disabled]="form.invalid"  name="Login" value="Iniciar Sesión">Iniciar Sesión</ion-button>

        <a href="#" class="no-recordar"><h1>¿No recuerdas tu contraseña?</h1></a>
    </form>
</div>

  <div class="underlay-photo"></div>
  <div class="underlay-black"></div>

</ion-content>

<ion-content color="light" *ngIf="tipo2 == true">

  <div class="contenedor-inputs2">
    <form style="margin-top:10%;" class="login-form" #form="ngForm" (ngSubmit)="login(form)" autocomplete="off">

      <ion-title style="background:none; margin-bottom: 5%;" class="prueba">Ifort Chile</ion-title>

        <ion-item>
          <ion-label position="stacked"></ion-label>
          <ion-input type="email" ngModel name="email" autofocus="true" required="true" placeholder="Email" autocomplete="off"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked"></ion-label>
          <ion-input type="password" ngModel name="password" required="true" placeholder="Clave" autocomplete="off" ></ion-input>
        </ion-item>

        <ion-button class="boton-login" expand="block" color="tertiary" type="submit" [disabled]="form.invalid"  name="Login" value="Iniciar Sesión">Iniciar Sesión</ion-button>

        <a href="#" class="no-recordar"><h1>¿No recuerdas tu contraseña?</h1></a>
    </form>
  </div>
</ion-content>
