<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()" ></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-left: 30%;">Importar indicadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="button-wrapper">
    <span class="label" *ngIf="!file">
      Subir archivo
    </span>
    <span class="label" *ngIf="file">
      {{file.name}}
    </span>

    <input type="file" name="upload" id="upload" (change)="incomingfile($event);Upload()" accept=".xlsx" class="upload-box" placeholder="Subir archivo">

  </div>

  <br>
  <ion-grid *ngIf="file">
    <ion-row >
      <ion-col size="3">
        <b>Nombres</b>
      </ion-col>
      <ion-col size="3">
        <b>Apellidos</b>
      </ion-col>
      <ion-col size="3">
        <b>Correos</b>
      </ion-col>
      <ion-col size="3">
        <b>Claves</b>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let usuario of usuarios">
      <ion-col size="3">
        {{ (usuario.firstName.length < 7 ? usuario.firstName : usuario.firstName.substring(0,7 )+".." )}}
      </ion-col>
      <ion-col size="3">

        {{ (usuario.lastName.length < 7 ? usuario.lastName : usuario.lastName.substring(0,7 )+".." )}}
      </ion-col>
      <ion-col size="3">

        {{ (usuario.email.length < 7 ? usuario.email : usuario.email.substring(0,7 )+".." )}}
      </ion-col>
      <ion-col size="3">

        {{ (usuario.password.length < 7 ? usuario.password : usuario.password.substring(0,7 )+".." )}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>

  <ion-button [disabled]="!file"  expand="full" color="tertiary" fill="outline" (click)="Upload()"  style="color:black">Importar</ion-button>
</ion-content>
