<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()"  defaultHref="evaluaciones"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center">Instrumento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenedor-paginas">

  <div class="contenedor-imagen">
    <img class="imagen-instrumento" src="https://image.flaticon.com/icons/png/512/1786/1786595.png">
  </div>

  <h3 style="text-align:center">{{instrumento.nombre}}</h3>
  <br>
  <ion-list>
    <ion-item-sliding *ngFor="let indicador of indicadores">
      <ion-item (click)="responder(indicador)">
        <ion-label>{{indicador.titulo}} <input type="checkbox" id="modal" /></ion-label>
        <ion-button slot="end" color="secondary">
          {{(indicador.valor||indicador.tipo)}}
        </ion-button>
      </ion-item>
      <ion-item-options side="end" >
        <ion-item-option (click)="editarIndicador(prgunta)" color="warning">Editar</ion-item-option>
        <ion-item-option (click)="eliminarIndicador(prgunta)" color="danger">Borrar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="indicadores.length == 0">
      <h2>No existen indicadores para esta evaluación</h2>
    </ion-item>
  </ion-list>

  <ion-button  class="ion-button" *ngIf="noOcultar" (click)="guardarEvaluacion()" [disabled]="sinResponder(indicadores)"  style="color:white">Guardar Evaluación</ion-button>

</ion-content>
