<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="blanco" class="margin-card">
      <ion-card-header color="blanco">
        <ion-item>
          <ion-label>Actividades</ion-label>

          <ion-buttons>
            <ion-button slot="end">
              <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
    </ion-card-header>

    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card color="blanco" class="margin-card">
    <ion-card-header color="blanco">
      <ion-item>
        <ion-label>Rendimiento</ion-label>

        <ion-buttons>
          <ion-button slot="end">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
  </ion-card-header>

  <ion-card-content>
    <canvas #barCanvas></canvas>
  </ion-card-content>
  </ion-card>

  <ion-card color="blanco" class="margin-card">
      <ion-card-header color="blanco">
        <ion-item>
          <ion-label>Estadisticas</ion-label>

          <ion-buttons>
            <ion-button slot="end">
              <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
    </ion-card-header>

    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card color="blanco" class="margin-card">
      <ion-card-header color="blanco">
        <ion-item>
          <ion-label>Actividades</ion-label>

          <ion-buttons>
            <ion-button slot="end">
              <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
    </ion-card-header>

    <ion-card-content>
      <canvas #radarCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card color="blanco" class="margin-card">
      <ion-card-header color="blanco">
        <ion-item>
          <ion-label>Actividades</ion-label>

          <ion-buttons>
            <ion-button slot="end">
              <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
    </ion-card-header>

    <ion-card-content>
      <canvas #polarCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card color="blanco" class="margin-card">
      <ion-card-header color="blanco">
        <ion-item>
          <ion-label>Actividades</ion-label>

          <ion-buttons>
            <ion-button slot="end">
              <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
    </ion-card-header>

    <ion-card-content>
      <canvas #bubbleCanvas></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
