<ion-header>
  <ion-toolbar>
    <ion-title>Respuesta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor-imagen">
    <img class="imagen-respuesta" src="https://image.flaticon.com/icons/png/512/1786/1786640.png">
  </div>

  <h3 style="text-align:center">{{titulo}}</h3>
  <h4 style="text-align:center">{{descripcion}}</h4>
  <br>

  <ion-list *ngIf="noOcultar">
    <ion-item *ngIf="tipo == 'Numero'">
      <ion-input [(ngModel)]="valor" type="number" placeholder="pon tu respuesta"></ion-input>
    </ion-item>
    <ion-item *ngIf="tipo == 'Porcentaje'">
      <ion-input [(ngModel)]="valor" min="1" max="100" type="number" placeholder="pon tu respuesta en rango de 1 a 100"></ion-input>
    </ion-item>
    <ion-item *ngIf="tipo == 'Rango'">
      <ion-range color="danger" pin="true" [disabled]="!noOcultar" min="{{min}}" max="{{max}}" step="1" [(ngModel)]="valor" snaps="true"></ion-range>
    </ion-item>
  </ion-list>

  <p *ngIf="!noOcultar" style="text-align:center">{{valor}}</p>
  <br>
  <ion-button class="ion-button" *ngIf="noOcultar" (click)="guardar()" [disabled]="!valor">Guardar respuesta</ion-button>
  <br>
</ion-content>
