<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()"  defaultHref="evaluacion"></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-left: 30%;">Importar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor-imagen">
    <img class="imagen-importar" src="https://image.flaticon.com/icons/png/512/1570/1570582.png">
  </div>

  <div class="button-wrapper">
    <span class="label" *ngIf="!file">
      Subir archivo
    </span>
    <span class="label" *ngIf="file">
      {{file.name}}
    </span>

    <input type="file" name="upload" id="upload" (change)="incomingfile($event);Upload()" accept=".xlsx" class="upload-box" placeholder="Subir archivo">

  </div>

  <br>
  <ion-grid *ngIf="file">
    
  </ion-grid>
  <br>

  <ion-button [disabled]="!file" size="medium" (click)="Upload()">Importar</ion-button>
</ion-content>
