
ion-toolbar {
  /*
  --background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(230,81,0,1) 54%);
  */
  --background: #262f3d;
  --color: white !important;
}

.ion-title{
  text-align: center;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  font-size: 24px;
}

ion-avatar{
  width: 20%;
  height: auto;
  margin-top: 5%;
  margin-left: 40%;
}

ion-content {
  /*
  --color:white!important;
  --background: rgb(2,0,36);
  --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,68,121,0.5648148148148149) 0%, rgba(35,0,255,0.6643518518518519) 100%);
  */
    --background: #262f3d;
}
ion-item{
  --color:white!important;
  /*
  --background: rgb(2,0,36);
  --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,68,121,0.5648148148148149) 0%, rgba(35,0,255,0.6643518518518519) 100%);
  */
  --background: #262f3d;
}
.list-md{
  padding-top:0!important;
  padding-bottom:0!important;
  margin-top: 0!important;
}
.item-menu{
      /** background **/
  --background-focused:#263238;
  --background-hover:#263238;
  --background: #262f3d;
    /** objetos del item **/
    /** color del item (dentro objetos,letras) **/
 --color:#fff;

 --color-activated:#ffff;
    /** color de lo de dentro cuando se le apreta tab encima **/
 --color-focused:#fff;
    /** color de lo de dentro cuando se le pasa el mouse encima **/
 --color-hover:#ffff;

 --border-color: transparent;
}

.item-perfil{
 --border-color: transparent;
}

ion-button{
  --background: #3949ab;
  --background-activated: #3949ab;
  --background-hover: #3949ab;
  width: 70% !important;
  margin-left: 15% !important;
}

ion-avatar img{

  width: 100px !important;
  height: 100px !important;
  --border-radius: 50px;
  margin-left: -20%;
}
