<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()"  defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Gráfico informativo</ion-title>
    <ion-buttons slot="end" (click)="abrirExportarEvaluaciones()">
      <ion-button>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card >
      <ion-card-header class="header-card">
        <ion-item>          
          <ion-label>{{tipoGeneral}}</ion-label>
         <ion-buttons slot="end">
           <ion-label>Tipo grafico</ion-label>
           <ion-select okText="Aceptar" cancelText="Cancelar" (ionChange)="ngAfterViewInit()" [(ngModel)]="tipoActual">
             <ion-select-option value="{{tipo}}" *ngFor="let tipo of tipos;index as i">{{tipo.toUpperCase()}}</ion-select-option>
           </ion-select>
         </ion-buttons>          
        </ion-item>
      </ion-card-header>

    <ion-card-content>
      <canvas #graficoCanvas id="rendimiento-por-persona"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
