<ion-header>
  <ion-toolbar>
    <ion-title>grafico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card >
      <ion-card-header class="header-card">
        <ion-item>
          <div class="contenedor-card">
            <img class="imagen-card" src="https://image.flaticon.com/icons/png/512/425/425067.png">
          </div>
          <ion-label>{{navParams.get("tipo")}}</ion-label>
         <ion-buttons>
           <ion-label>Tipo grafico</ion-label>
           <ion-select okText="Aceptar" cancelText="Cancelar" (ionChange)="ngAfterViewInit()" [(ngModel)]="tipoActual">
             <ion-select-option value="{{tipo}}" *ngFor="let tipo of tipos;index as i">{{tipo.toUpperCase()}}</ion-select-option>
           </ion-select>
          </ion-buttons>
          <ion-buttons>
            <ion-button slot="end" (click)="exportar('rendimiento-por-persona')">
              <ion-icon name="cloud-download"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card-header>

    <ion-card-content>
      <canvas #graficoCanvas id="rendimiento-por-persona"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
