<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()"  defaultHref="usuarios" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Asignar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar>
    <ion-segment scrollable  color="secondary">
      <ion-segment-button *ngIf="this.pasos.length > 0">
        <ion-icon name="arrow-back" style="font-size:25px;"  (click)="volver()"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="{{nodo.name}}" *ngFor="let nodo of arbol;index as index" (click)="seleccionaNodo(nodo,indice)" (dblclick)="navegaNodo(nodo,index,true)">
        <ion-label color="blanco">{{nodo.name}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <h3 style="text-align:center">{{mensaje}}</h3>

  <ion-button [disabled]="!nodo"   (click)="asignar()" size="medium">Asignar</ion-button>
</ion-content>
