<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Instrumento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="traerDatos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="contenedor-imagen">
    <img class="imagen-evaluacion" src="https://image.flaticon.com/icons/png/512/1260/1260185.png">
  </div>

  <ion-fab vertical="top" horizontal="end" *ngIf="!verAgregar">
    <ion-fab-button>
      <ion-icon name="apps"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="start">

         <ion-fab-button (click)="abrirImportar();verAgregar = false;" >
           <ion-icon name="document" ></ion-icon>
         </ion-fab-button>

         <ion-fab-button (click)="redefinirEvaluacion();verAgregar = true;" *ngIf="!verAgregar">
           <ion-icon name="add" ></ion-icon>
         </ion-fab-button>

    </ion-fab-list>

  </ion-fab>
  <ion-fab vertical="top" horizontal="end" *ngIf="verAgregar">
    <ion-fab-button (click)="redefinirEvaluacion();verAgregar = false;" >
      <ion-icon name="remove" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
<!--
  <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="redefinirEvaluacion();verAgregar = true;" *ngIf="!verAgregar">
     <ion-fab-button>
       <ion-icon name="add" ></ion-icon>
     </ion-fab-button>
   </ion-fab>
   <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="redefinirEvaluacion();verAgregar = false;" *ngIf="verAgregar">
      <ion-fab-button>
        <ion-icon name="remove" ></ion-icon>
      </ion-fab-button>
    </ion-fab>-->
  <br>
  <div *ngIf="verAgregar">
    <ion-item style="padding-top: 20px">
      <ion-label position="floating" style="font-size: 20px;color:black">Siglas</ion-label>
      <ion-input [(ngModel)]="evaluacion.sigla" maxlength="5" ></ion-input>
    </ion-item>
    <ion-item style="padding-top: 20px">
      <ion-label position="floating" style="font-size: 20px;color:black">Nombre</ion-label>
      <ion-input [(ngModel)]="evaluacion.nombre" ></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-item-divider mode="md">

    </ion-item-divider>
    <ion-button class="ion-button-indicador" (click)="abrirPreguntas()" size="medium" [disabled]=" evaluacion.nombre == '' ">Ver/Agregar indicador <span *ngIf="evaluacion.indicadores"> ({{getIndicadores(evaluacion.indicadores)}})</span></ion-button>
    <ion-button class="ion-button" *ngIf="evaluacion.id == '' " [disabled]=" evaluacion.nombre == '' "  size="medium" (click)="confirmar()">Guardar</ion-button>
    <ion-button class="ion-button" *ngIf="evaluacion.id != ''" [disabled]=" evaluacion.nombre == '' "   size="medium" (click)="actualizarEvaluacion();verAgregar = false">Actualizar</ion-button>

  </div>

   <br> 
    <ion-item-divider mode="md" style="text-align:center;font-size: 20px;">
      <div id="barra" class="contenedor-buscar" [ngClass]="{'barraLarga': banderaGrande}">
        <ion-input  #buscarInput placeholder="Filtrar" (keyup)="filtrarInstrumentos();" [(ngModel)]="buscar"></ion-input>
      </div>
    </ion-item-divider>
    <br>
   <ion-item-divider mode="md" style="text-align:center;font-size: 20px;">
     <b>Lista de evaluaciones</b>
   </ion-item-divider>

   <ion-list>

     <ion-item-sliding  *ngFor="let ev of cantidadInputs(evalucionesFiltrados);index as i" #slidingItem  >
      <ion-item-options side="start">
        <ion-item-option color="danger" expandable (click)="eliminar(ev,slidingItem)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-checkbox slot="start"  (ionChange)="recalcular()" [(ngModel)]="activos[i]"></ion-checkbox>
        <ion-label (click)="visualizar(ev,slidingItem);verAgregar = true">{{ev.nombre}}</ion-label>
        <ion-input slot="end" type="number" (ionChange)="recalcular()" placeholder="%" [(ngModel)]="inputs[i]" name="input{{i}}"></ion-input>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="secondary"expandable (click)="visualizar(ev,slidingItem);verAgregar = true;">
          <ion-icon  slot="icon-only" name="eye"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <h3 *ngIf="evaluaciones.length == 0">No hay evaluaciones disponibles</h3>
    <p *ngIf="porcentaje>100" style="color:red">{{porcentaje}}%</p>
    <ion-item *ngIf="porcentaje==100" style="color:green">
      <ion-icon name="grid" slot="start"></ion-icon>
      <ion-label>Equivale a (Puntos)</ion-label>
      <ion-input slot="end" type="number" placeholder="puntos" [(ngModel)]="puntos" name="puntos"></ion-input>
    </ion-item>
    <p *ngIf="porcentaje<100" style="color:blue">{{porcentaje}}%</p>
   </ion-list>

   <div class="" *ngIf="porcentaje == 100">
     <ion-toolbar class="toolbar">
       <ion-segment scrollable  color="secondary">
         <ion-segment-button *ngIf="this.pasos.length > 0" (click)="volver()">
           <ion-icon name="arrow-back" style="font-size:25px;"  ></ion-icon>
         </ion-segment-button>

         <ion-segment-button value="{{nodo.name}}" *ngFor="let nodo of arbol;index as index" (click)="seleccionaNodo(nodo,indice)" (dblclick)="navegaNodo(nodo,index,true)">
           <ion-label color="blanco">{{nodo.name}}</ion-label>
         </ion-segment-button>

         <ion-segment-button (click)="elegirPersonas()">
           <ion-icon name="add-circle-outline"></ion-icon>
         </ion-segment-button>
       </ion-segment>
     </ion-toolbar>
   </div>
   <h3 class="mensaje">{{mensaje}}</h3>

   <ion-button  class="ion-button" [disabled]="!nodo || revisarActivoVacio()" *ngIf=" usuariosAsignados.length == 0" size="medium" (click)="enviarEvaluacion()">Enviar evaluación</ion-button>
   <ion-button  class="ion-button" [disabled]="revisarActivoVacio() " *ngIf=" usuariosAsignados.length > 0"  size="medium" (click)="enviarEvaluacionUsuarios()">Enviar evaluación a usuarios asignados</ion-button>

</ion-content>
