<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()"  defaultHref="evaluacion"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ encuesta.titulo }} - Preguntas / Afirmaciones</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="secondary" (click)="crearPreguntas();verAgregar = true;" >
        <ion-icon name="add" ></ion-icon>
      </ion-button>
      <ion-button fill="solid" color="secondary" (click)="abrirImportar();verAgregar = false;" >
        <ion-icon name="document" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div class="contenedor-imagen">
      <img class="imagen-indicador" src="https://image.flaticon.com/icons/png/512/1790/1790019.png">
    </div>

  <ion-list>
    <ion-item-sliding  *ngFor="let pregunta of encuesta.preguntas">
      <ion-item>
        <ion-label>{{(pregunta.titulo )}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="editarIndicador(prgunta)" class="boton-editar">Editar</ion-item-option>
        <ion-item-option (click)="eliminarIndicador(prgunta)" class="boton-borrar">Borrar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="encuesta.preguntas.length == 0">
      <h2>No existen preguntas / afirmaciones para esta evaluación</h2>
    </ion-item>
  </ion-list>
  <br><br>

  <ion-button  class="ion-button" size="medium" (click)="guardarPreguntas()" >Guardar</ion-button>

</ion-content>
