<ion-header style="text-aling:center;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()"  defaultHref="encuesta" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>{{encuesta.titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor-imagen">
    <img class="imagen-encuesta" src="https://image.flaticon.com/icons/svg/1039/1039328.svg">
  </div>

  <div class="contenedor-encuesta">
    <div class="contenedor-descripcion">
        <ion-label class="descripcion">{{encuesta.descripcion}}</ion-label>
    </div>

    <ion-item-divider mode="md" style="text-align:center;font-size: 20px;">
      <b>Preguntas</b>
    </ion-item-divider>

    <ion-list *ngFor="let pregunta of encuesta.preguntas;index as indice">
      <div class="seccion-secciones">
        <div class="seccion-preguntas">
          <ion-label class="pregunta">{{pregunta.titulo}}</ion-label>
        </div>
        <div class="seccion-estrellas" *ngIf="!encuesta.resultados">
          <div class="badges">
            <ion-badge mode="ios" (click)="cambiarColor(indice,i)" *ngFor="let estrella of estrellas[indice];index as i" class="{{estrella.class}}"><ion-icon class="icono" name="star"></ion-icon></ion-badge>
          </div>
        </div>
        <div class="seccion-estrellas" *ngIf="encuesta.resultados">
          <div class="badges">
            <ion-badge  mode="ios" *ngFor="let estrella of estrellas[indice];index as i" class="{{estrella.class}}"><ion-icon class="icono" name="star"></ion-icon></ion-badge>
          </div>
        </div>
      </div>
      <ion-item-divider mode="md">
      </ion-item-divider>
    </ion-list>

    <ion-button  class="ion-button" size="medium" [disabled]="!complete() || encuesta.resultados" (click)="enviarEncuesta()">Enviar Encuesta</ion-button>

  </div>

</ion-content>
