ion-toolbar{
    text-align: center;
    --background: #7A9FCC;
    --color:white;
  }
  .contenedor-imagen{
    background: #7A9FCC;
  	margin-bottom: 5%;
  }

  .imagen-encuesta{
    width: 20%;
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .contenedor-descripcion
  {
    text-align: center;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  .descripcion{

  }

  .seccion-secciones{
    display: flex;
    margin-top: 2.5%;
  }
  .seccion-preguntas{
    width: 70%;
  }

  .pregunta{
    margin-left: 5% !important;
  }

  .seccion-estrellas{
    width: 50%;
    ion-badge{
      margin-left: 1.5%;
      --background: transparent;
      --color: #424242;
    }

    .icono{
      width: 25px;
      height: 25px;
    }

    .cambiador{
      color: #ffd600;
    }

  }

  .ion-item{
    --border-color: transparent;
  }

  .ion-button{
    --background: #7A9FCC;
    --background-activated: #7A9FCC;
    --background-hover: #7A9FCC;
    width: 70% !important;
    margin-left: 15% !important;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  @media (max-width: 550px) {

    .seccion-secciones{
      display: inline !important;
      margin-top: 2.5%;
    }

    .seccion-preguntas{
      margin-top: 5%;
      margin-left: 0% !important;
      width: 100%;
      text-align: center !important;
    }

    .pregunta{
      margin-top: 10% !important;
      margin-left: 0% !important;
    }

    .seccion-estrellas{
      margin-top: 5%;
      width: 100% !important;

      .badges{
        width: 100%;
        margin-left: 0%;
        ion-badge{
          width: 10%;
          margin-left: 2.5%;
          margin-right: 2.5%;
          --background: transparent;
          --color: #424242;
        }
      }
    }
  }
