ion-toolbar{
	border-top-left-radius: 25px;
}

.item-trn {
	--color:#f5f5f5;
}

.item-no-background{
  background-color: transparent !important;
  background: transparent !important;
  --background: #0000;
  --border-color: #0000;

}

.icono-grande{
  max-width:  35px;
  max-height: 35px;
  min-width:  35px;
  min-height: 35px;
}

.item-fondo{
        /** background **/
    --background-focused:#f5f5f5;
    --background-hover:#f5f5f5;
    --background:#f5f5f5
      /** objetos del item **/

   /** color del item (dentro objetos,letras) **/
}

.margin-card{
  margin-top: 4%;
}

.iconopx{
  min-width: 30px;
  min-height: 30px;
}

.contenedor-imagen{
  background: #ff9100;
	margin-bottom: 5%;
}

.imagen-administrador{
  width: 20%;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contenedor-card{
  --background: #3949ab;
  --color: white !important;
		margin-right: 5%;
}

.imagen-card{
  width: 50px;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}

ion-chip{
  margin-left: 4%;
  margin-right: 2%;
  margin-bottom: 3%;
  margin-top: 3%;
}


ion-toolbar{
  /*
  --background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(230,81,0,1) 54%);
  */

  --background: #ff9100;
  --color: white !important;
	font-family: 'Roboto';
	text-align: center;
}

ion-item{/*
  --background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(230,81,0,1) 54%);
  */
  cursor: pointer;
  --background-focused:#f5f5f5;
  --background-hover:#f5f5f5;
}

ion-content {
  --background: white;
  /*
  --color:white!important;
  --background: rgb(2,0,36);
  --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,68,121,0.5648148148148149) 0%, rgba(35,0,255,0.6643518518518519) 100%);
  */
}

ion-card{
  --background: white;
}

.header-card{
  --background: linear-gradient(90deg, rgba(3,169,244,1) 0%, rgba(128,222,234,1) 100%);
  ion-item{
  --background: transparent;
  --color: white;
  --border-color: transparent;
  }
}

.card-gradiente{
  --background: linear-gradient(90deg, rgba(3,169,244,1) 0%, rgba(128,222,234,1) 100%) !important;
  --color: white !important;
}
