<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mantenedores permiso administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenedor-imagen">
    <img class="imagen-administrador" src="https://image.flaticon.com/icons/png/512/554/554827.png">
  </div>
  <ion-item (click)="navegar('usuarios')">
    <div class="contenedor-card">
      <img class="imagen-card" src="https://image.flaticon.com/icons/png/512/554/554846.png">
    </div>
    <ion-label>
      Usuarios
    </ion-label>
  </ion-item>
  
</ion-content>
