ion-toolbar{
  /*
  --background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(230,81,0,1) 54%);
  */

  --background: #b5f7cf;
  --color: white !important;
  font-family: 'Roboto';
  text-align: center;
}

.contenedor-imagen{
  background: #b5f7cf;
	margin-bottom: 5%;
}

.imagen-indicador{
  width: 20%;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}

ion-item{/*
  --background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(255,87,34,1) 0%, rgba(230,81,0,1) 54%);
  */
  --background-focused:#f5f5f5;
  --background-hover:#f5f5f5;
}

ion-content {
  --background: white;
  /*
  --color:white!important;
  --background: rgb(2,0,36);
  --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,68,121,0.5648148148148149) 0%, rgba(35,0,255,0.6643518518518519) 100%);
  */
}

ion-card{
  --background: white;
}

.header-card{
  --background: linear-gradient(90deg, rgba(3,169,244,1) 0%, rgba(128,222,234,1) 100%);
  ion-item{
  --background: transparent;
  --color: white;
  --border-color: transparent;
  }
}

.card-gradiente{
  --background: linear-gradient(90deg, rgba(3,169,244,1) 0%, rgba(128,222,234,1) 100%) !important;
  --color: white !important;
}

ion-fab-button{
  --background: linear-gradient(90deg, rgba(3,169,244,1) 0%, rgba(128,222,234,1) 100%) !important;
  --background-activated: linear-gradient(90deg, rgba(3,169,244,1) 0%, rgba(128,222,234,1) 100%) !important;
  --background-hover: linear-gradient(90deg, rgba(3,169,244,1) 0%, rgba(128,222,234,1) 100%) !important;
  --color: white;
}

.ion-button{
  --background: #b5f7cf !important;
  --background-activated: #b5f7cf !important;
  --background-hover: #b5f7cf !important;
  width: 70% !important;
  margin-left: 15% !important;
}

.boton-borrar{
--background:rgba(3,169,244,1) !important;
}

.boton-editar{
 --background:rgba(128,222,234,1) !important;
}
