<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()"  defaultHref="evaluacion" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ evaluacion.nombre }} - Indicadores</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid" color="secondary" (click)="crearIndicador();verAgregar = true;" >
        <ion-icon name="add" ></ion-icon>
      </ion-button>
      <ion-button fill="solid" color="secondary" (click)="abrirImportar();verAgregar = false;" >
        <ion-icon name="document" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div class="contenedor-imagen">
      <img class="imagen-indicador" src="https://image.flaticon.com/icons/png/512/1790/1790019.png">
    </div>

  <ion-list *ngFor="let key of getKeys(categorias)">
    <ion-list-header>
      <ion-label>{{key}}</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let indicador of categorias[key]">
      <ion-item>
        <ion-label>{{(indicador.titulo || indicador.indicador)}}</ion-label>
        <ion-button slot="end" color="secondary">
          {{indicador.tipo}}
        </ion-button>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="editarIndicador(prgunta)" class="boton-editar">Editar</ion-item-option>
        <ion-item-option (click)="eliminarIndicador(prgunta)" class="boton-borrar">Borrar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="indicadores.length == 0">
      <h2>No existen indicadores para esta evaluación</h2>
    </ion-item>
  </ion-list>
  <br><br>

  <ion-button  class="ion-button" size="medium" (click)="guardarindicadores()" >Guardar</ion-button>

</ion-content>
