
<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
     <ion-menu-button></ion-menu-button>
   </ion-buttons>
   <ion-title color="blanco">
     Home - {{(asignado.name || "Aun sin asignar")}}
   </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>


  <ion-refresher slot="fixed" (ionRefresh)="traerDatos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
   <!--
  <div class="contenedor-imagen" style=' background : url("http://localhost:8100/assets/icon/fondo-azul.svg") no repeat'>
    <img class="imagen-mancha" src="http://localhost:8100/assets/icon/mancha-verde-oscuro.svg">
    <div class="contenedor-logo">
      <img class="imagen-logo" src="http://localhost:8100/assets/icon/LOGO IFORT-02.svg">
    </div>
  </div>

  <!--<div class="contenedor-imagen">
    <img class="imagen-home" src="assets/icon/LOGO IFORT-02.png">
  </div>-->
  <div class="grilla contenedor-imagen" style=' background : url("http://167.71.162.34/assets/icon/fondo1.svg") , #3E55A1'>
    <div class="contenedor-logo">
      <img class="imagen-logo" src="http://167.71.162.34/assets/icon/LOGO IFORT-02.svg">
    </div>
  </div>
<div class="contenedor-cards">
  <div class="card-derecha">
    <ion-card class="ion-card-derecha" style="text-align:center;" (click)="verEvaluacion(getPersonalEvaluation())">
      <ion-card-header>
        <ion-card-title color="blanco" *ngIf="!isAdmin">Rendimiento actual personal </ion-card-title>
        <ion-card-title color="blanco" *ngIf="isAdmin">Rendimiento actual General </ion-card-title>
      </ion-card-header>
      <circle-progress
        [percent]=obtenDatos()
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [backgroundOpacity] = "0"
        [space] = "11"
        [showUnits] = true
        [toFixed] = "1"
        [maxPercent] = "320"
        [innerStrokeColor] = "'#3a68e5'"
        [titleFontSize] = "35"
        [animationDuration] =  "800"
        [showSubtitle] = false
        [titleColor] = "'#ffffff'"
      ></circle-progress>
    </ion-card>
  </div>
  <div class="card-centro">
    <ion-card class="ion-card-centro" style="text-align:center;" (click)="verEncuestas()">
      <div class="contenedor-naranjo">
        <img class="imagen-home" src="https://image.flaticon.com/icons/svg/1475/1475107.svg">
      </div>
      <ion-card-header>
        <ion-card-title color="blanco">Encuestas</ion-card-title>
      </ion-card-header>

      <ion-card-content style="font-size:50px">
        <b *ngIf="!isAdmin">{{ (usuario.encuestas.length|| "Sin datos") }}</b>
        <b *ngIf="isAdmin">Datos</b>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="card-izquierda">
    <ion-card class="ion-card-izquierda" style="text-align:center;" (click)="verEvaluaciones()">
      <div class="contenedor-celeste">
        <img class="imagen-home" src="https://image.flaticon.com/icons/svg/1790/1790014.svg">
      </div>
      <ion-card-header>
        <ion-card-title color="blanco">Evaluaciones</ion-card-title>
      </ion-card-header>

      <ion-card-content style="font-size:50px">
        <b>{{ (usuario.evaluaciones.length|| "Sin datos") }}</b>
      </ion-card-content>
    </ion-card>
  </div>
</div>


  <ion-grid class="grilla contenedor-imagen" style=' background : url("http://167.71.162.34/assets/icon/fondo1.svg") , #3E55A1'>

    <div class="contenedor-logo">
      <img class="imagen-logo" src="http://167.71.162.34/assets/icon/LOGO%20IFORT-02.svg">
    </div>
    <ion-row class="fila">
      <ion-col>
        <ion-card class="card-azul" style="text-align:center;" (click)="verEvaluacion(getPersonalEvaluation())">
          <ion-card-header>
            <ion-card-title color="blanco" *ngIf="!isAdmin">Rendimiento actual personal </ion-card-title>
            <ion-card-title color="blanco" *ngIf="isAdmin">Rendimiento actual General </ion-card-title>
          </ion-card-header>
          <circle-progress
            [percent]=obtenDatos()
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [backgroundOpacity] = "0"
            [space] = "11"
            [showUnits] = true
            [toFixed] = "1"
            [maxPercent] = "320"
            [innerStrokeColor] = "'#3a68e5'"
            [titleFontSize] = "35"
            [animationDuration] =  "800"
            [showSubtitle] = false
            [titleColor] = "'#ffffff'"
          ></circle-progress>
        </ion-card>

      </ion-col>

      <ion-col class="columna-naranjo">
        <ion-card class="card-naranjo" style="text-align:center;" (click)="verEncuestas()">
          <div class="contenedor-naranjo">
            <img class="imagen-home" src="https://image.flaticon.com/icons/svg/1475/1475107.svg">
          </div>
          <ion-card-header>
            <ion-card-title color="blanco">Encuestas</ion-card-title>
          </ion-card-header>

          <ion-card-content style="font-size:50px">
            <b *ngIf="!isAdmin">{{ (usuario.encuestas.length|| "Sin datos") }}</b>
            <b *ngIf="isAdmin">Datos generales</b>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col class="columna-celeste">
        <ion-card class="card-celeste" style="text-align:center;" (click)="verEvaluaciones()">
          <div class="contenedor-celeste">
            <img class="imagen-home" src="https://image.flaticon.com/icons/svg/1790/1790014.svg">
          </div>
          <ion-card-header>
            <ion-card-title color="blanco">Evaluaciones</ion-card-title>
          </ion-card-header>

          <ion-card-content style="font-size:50px">
            <b>{{ (usuario.evaluaciones.length|| "Sin datos") }}</b>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
  
  <ion-card class="menu-home ">

      <ion-card-header class="header-card" >
        <ion-item>
          <ion-label style="font-size:23px;">Explora</ion-label>
        <!--
          <ion-buttons>
            <ion-button slot="end" color="terciary">
              <ion-icon slot="icon-only" name="cart"></ion-icon>
            </ion-button>
          </ion-buttons>
          -->
        </ion-item>
    </ion-card-header>

    <div class="contenedor-botones">
        <ion-buttons class="contenedor-boton">
          <ion-button slot="end" class="boton" style="background: #fffff;" href="perfil">
            <img src="https://image.flaticon.com/icons/svg/747/747240.svg">
          </ion-button>
        </ion-buttons>

        <ion-buttons class="contenedor-boton">
          <ion-button slot="end" class="boton" style="background: #fffff;" href="perfil">
            <img src="https://image.flaticon.com/icons/svg/1475/1475107.svg">
          </ion-button>
        </ion-buttons>

        <ion-buttons class="contenedor-boton">
          <ion-button slot="end" class="boton" style="background: #fffff;" href="canjeables">
            <img src="https://image.flaticon.com/icons/svg/1170/1170576.svg">
        </ion-button>
      </ion-buttons>
    </div>

  </ion-card>

  <ion-slides pager="true" [options]="slideOpts" style="padding-bottom: 5%;">
    <ion-slide style="height: auto;">
      <ion-card class="grafico" style="width: 100%;height: 100%;" >
          <ion-card-header class="header-card">

            <ion-item>
              <div class="contenedor-card">
                <img class="imagen-card" src="https://image.flaticon.com/icons/png/512/1175/1175009.png">
              </div>
              <ion-label>Actividades</ion-label>
              <ion-buttons>
                <ion-button slot="end">
                  <ion-icon name="cloud-download"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
        </ion-card-header>

        <ion-card-content>
          <canvas #lineCanvas id="lineCanvas"></canvas>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide style="height: auto;">
      <ion-card class="volteado" style="width: 100%;height: 100%;" >
          <ion-card-header class="header-card">
            <ion-item>
              <div class="contenedor-card">
                <img class="imagen-card" src="https://image.flaticon.com/icons/png/512/554/554719.png">
              </div>
              <ion-label>Actividades</ion-label>

              <ion-buttons>
                <ion-button slot="end" (click)="exportar('actividades')">
                  <ion-icon name="cloud-download"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
        </ion-card-header>

        <ion-card-content>
          <div class="contenedor-canvas">
            <canvas #bubbleCanvas id="actividades"></canvas>
          </div>
          <div class="contenedor-boton-2">
            <ion-buttons class="contenedor-boton-canvas">
              <ion-button slot="end" class="boton-canvas" style="background: #fffff;" href="perfil">
                <img src="https://image.flaticon.com/icons/svg/747/747240.svg">
              </ion-button>
            </ion-buttons>
            <ion-label class="texto-grafico">Ver Gráfico</ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide style="height: auto;">
      <ion-card style="width: 100%;height: 100%;" >
        <ion-card-header class="header-card">
          <ion-item>
            <div class="contenedor-card">
              <img class="imagen-card" src="https://image.flaticon.com/icons/png/512/906/906188.png">
            </div>
            <ion-label>Rendimiento Personal</ion-label>

            <ion-buttons>
              <ion-button slot="end" (click)="exportar('rendimiento-personal')">
                <ion-icon name="cloud-download"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
      </ion-card-header>

      <ion-card-content>
        <canvas style="background: #fff !important;" #barCanvas id="rendimiento-personal"></canvas>
      </ion-card-content>
      </ion-card>

    </ion-slide>
  </ion-slides>







  <ion-card *ngIf="usuario.permissionLevel > 4" >
      <ion-card-header class="header-card">
        <ion-item>
          <div class="contenedor-card">
            <img class="imagen-card" src="https://image.flaticon.com/icons/png/512/386/386901.png">
          </div>
          <ion-item>
           <ion-label>Por Usuario</ion-label>
           <ion-select okText="OK" cancelText="Cancelar" (ionChange)="dibujarGrafico()" [(ngModel)]="usuarioActual">
             <ion-select-option value="{{i}}" *ngFor="let user of usuarios;index as i">{{user.firstName}} {{user.lastName}}</ion-select-option>
           </ion-select>
         </ion-item>
         <ion-buttons>
           <ion-label>Tipo grafico</ion-label>
           <ion-select okText="Aceptar" cancelText="Cancelar" (ionChange)="dibujarGrafico()" [(ngModel)]="tipoActual">
             <ion-select-option value="{{tipo}}" *ngFor="let tipo of tipos;index as i">{{tipo.toUpperCase()}}</ion-select-option>
           </ion-select>
          </ion-buttons>
          <ion-buttons>
            <ion-button slot="end" (click)="exportar('rendimiento-por-persona')">
              <ion-icon name="cloud-download"></ion-icon>
            </ion-button>
          </ion-buttons>

        </ion-item>
    </ion-card-header>

    <ion-card-content>

      <canvas #radarCanvas id="rendimiento-por-persona"></canvas>
      <h2 *ngIf="!radarChart"> No se ha cargado grafico aun</h2>

    </ion-card-content>
  </ion-card>



</ion-content>
